# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Archivos a ignorar
*.*~
octave-workspace
*.png

# omitir carpetas
octave/Figures/*
octave/csv/*
octave/cvs_5_to_80/*
.idea/
Resultados/*